In [1]:
import pandas as pd
import numpy as np
data_heartdisease = pd.read_csv("heart_cleveland.csv", header = None)
data_heartdisease

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
1,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
2,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
3,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
4,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,40,1,3,152,223,0,0,181,0,0,0,0,2,1
294,39,1,3,118,219,0,0,140,0,1.2,1,0,2,1
295,35,1,3,120,198,0,0,130,1,1.6,1,0,2,1
296,35,0,3,138,183,0,0,182,0,1.4,0,0,0,0
297,35,1,3,126,282,0,2,156,1,0,0,0,2,1

In [2]:
#Script implementing a series of steps
#1.Clean the dataset by removing any rows/columns with missing values. 
~data_heartdisease.isin(['?']).any(axis=1)

0      True
1      True
2      True
3      True
4      True
       ...
293    True
294    True
295    True
296    True
297    True
Length: 298, dtype: bool

In [3]:
data_heartdisease.isin(['?']).sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
dtype: int64

In [4]:
#2. Randomly splitting the data into K equal folds by Setting K as 5
#importing required libraries
from sklearn.model_selection import StratifiedKFold
#Splitting K Equal Folds to 5
starkfold = StratifiedKFold(n_splits = 5)
js = data_heartdisease.drop(13, axis = 1)
g = data_heartdisease[13] 
js

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
1,69,1,0,160,234,1,2,131,0,0.1,1,1,0
2,69,0,0,140,239,0,0,151,0,1.8,0,2,0
3,66,0,0,150,226,0,0,114,0,2.6,2,0,0
4,65,1,0,138,282,1,2,174,0,1.4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,40,1,3,152,223,0,0,181,0,0,0,0,2
294,39,1,3,118,219,0,0,140,0,1.2,1,0,2
295,35,1,3,120,198,0,0,130,1,1.6,1,0,2
296,35,0,3,138,183,0,0,182,0,1.4,0,0,0
297,35,1,3,126,282,0,2,156,1,0,0,0,2

In [5]:
#importing required libraries
from sklearn.preprocessing import LabelEncoder
#Assigning Labels with Label Encoder
lbl = js. copy()
lbl_encoder = LabelEncoder()
for i in js.columns:
    lbl[i] = lbl_encoder.fit_transform(lbl[i]) 
js = lbl
js

     0   1   2   3    4   5   6   7   8   9   10  11  12
0    41   2   4  50  152   2   3  91   2  40   3   4   3
1    35   1   0  39   65   1   2  24   0   1   1   1   0
2    35   0   0  27   69   0   0  43   0  17   0   2   0
3    32   0   0  33   57   0   0   8   0  25   2   0   0
4    31   1   0  26  108   1   2  66   0  14   1   1   0
..   ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..
293   6   1   3  34   54   0   0  72   0   0   0   0   2
294   5   1   3  12   50   0   0  32   0  12   1   0   2
295   2   1   3  13   30   0   0  23   1  16   1   0   2
296   2   0   3  26   19   0   0  73   0  14   0   0   0
297   2   1   3  18  108   0   2  48   1   0   0   0   2

[298 rows x 13 columns]

In [8]:
#3. Creating parameter grid which experimenting the gini and entropy impurity measures.
#importing required libraries
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
 
dtc_parameters = {
              'criterion' : ['gini', 'entropy'],
              'max_depth' : [10*len(data_heartdisease.columns)]    
             }
gini, entropy = [],[]
 
#Creating a loop for training a decision tree classifier for training and testing data
#Making sure maxi tree depth is set to avalue high enough for the dataset.
for train, test in starkfold.split(js,g):
    print("Training Data for DecisionTreeClassifier is:", train),
    print("Testing Data for DecisionTreeClassifier is:", test)
    js_train, js_test = js.loc[train,:], js.loc[test,:]
    g_train, g_test = g.loc[train], g.loc[test]
    for j in dtc_parameters['criterion']:
        decision_tree = DecisionTreeClassifier(criterion =j, max_depth = dtc_parameters['max_depth'][0])
        decision_tree.fit(js_train,g_train)
        dtc_scores = decision_tree.score(js_test,g_test)
        print('for {0} score is {1}'.format(j,dtc_scores))
        if j == 'gini':
            gini.append(dtc_scores)
        else:
            entropy.append(dtc_scores)

Training Data for DecisionTreeClassifier is: [ 48  49  50  51  52  54  55  56  57  58  59  60  61  62  63  64  65  66
  67  68  69  70  71  72  73  74  78  79  80  82  83  84  85  86  89  90
  91  93  95  96  98 100 102 103 104 105 106 107 108 109 110 111 112 113
 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131
 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149
 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167
 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185
 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203
 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221
 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239
 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257
 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275
 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293
 294 295 296 297]
Testing Data for DecisionTreeClassifier is: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  53  75  76  77  81  87
  88  92  94  97  99 101]
for gini score is 0.6166666666666667
for entropy score is 0.6333333333333333
Training Data for DecisionTreeClassifier is: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  53  75  76  77  81  85
  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103
 105 106 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123
 124 125 126 128 131 132 133 135 136 138 139 140 141 142 143 144 145 146
 147 148 149 150 151 152 153 154 155 157 166 167 170 173 177 178 179 185
 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203
 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221
 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239
 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257
 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275
 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293
 294 295 296 297]
Testing Data for DecisionTreeClassifier is: [ 48  49  50  51  52  54  55  56  57  58  59  60  61  62  63  64  65  66
  67  68  69  70  71  72  73  74  78  79  80  82  83  84 104 107 127 129
 130 134 137 156 158 159 160 161 162 163 164 165 168 169 171 172 174 175
 176 180 181 182 183 184]
for gini score is 0.65
for entropy score is 0.7166666666666667
Training Data for DecisionTreeClassifier is: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  87  88  92  94  97
  99 101 104 107 126 127 128 129 130 131 132 133 134 135 136 137 138 139
 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157
 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175
 176 177 178 179 180 181 182 183 184 189 192 208 213 216 218 219 220 221
 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239
 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257
 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275
 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293
 294 295 296 297]
Testing Data for DecisionTreeClassifier is: [ 85  86  89  90  91  93  95  96  98 100 102 103 105 106 108 109 110 111
 112 113 114 115 116 117 118 119 120 121 122 123 124 125 185 186 187 188
 190 191 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 209
 210 211 212 214 215 217]
for gini score is 0.8166666666666667
for entropy score is 0.8
Training Data for DecisionTreeClassifier is: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 127 129 130 134 137 156 158 159 160 161 162 163 164 165 168 169 171 172
 174 175 176 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193
 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211
 212 213 214 215 216 217 219 224 228 232 233 234 250 252 253 254 255 256
 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274
 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292
 293 294 295 296 297]
Testing Data for DecisionTreeClassifier is: [126 128 131 132 133 135 136 138 139 140 141 142 143 144 145 146 147 148
 149 150 151 152 153 154 155 157 166 167 170 173 177 178 218 220 221 222
 223 225 226 227 229 230 231 235 236 237 238 239 240 241 242 243 244 245
 246 247 248 249 251]
for gini score is 0.8135593220338984
for entropy score is 0.8135593220338984
Training Data for DecisionTreeClassifier is: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 180
 181 182 183 184 185 186 187 188 190 191 193 194 195 196 197 198 199 200
 201 202 203 204 205 206 207 209 210 211 212 214 215 217 218 220 221 222
 223 225 226 227 229 230 231 235 236 237 238 239 240 241 242 243 244 245
 246 247 248 249 251]
Testing Data for DecisionTreeClassifier is: [179 189 192 208 213 216 219 224 228 232 233 234 250 252 253 254 255 256
 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274
 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292
 293 294 295 296 297]
for gini score is 0.4745762711864407
for entropy score is 0.4745762711864407

C:\Users\jsuggala\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

In [9]:
#4.Computing overall accuracy for Gini 
accuracy_gini = sum(gini)/len(gini)
accuracy_gini

0.6742937853107345

In [10]:
#Computing the overall accuracy for Entropy.
accuracy_entropy = sum(entropy)/len(entropy)
accuracy_entropy

0.6876271186440679